<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upc.eetac.dsaqt1415g3.maverick" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MaverickMainActivity" />
        <activity android:name=".MaverickProfile" />
        <activity android:name=".MaverickSong" />
        <activity android:name=".TopLisMaverick" />
        <activity android:name=".ListarGeneroMaverick" />
        <activity android:name=".indie" />
        <activity android:name=".edm" />
        <activity android:name=".pop" />
        <activity android:name=".pachangeo" />
        <activity android:name=".otros" />
        <activity android:name=".search" />
        <activity android:name=".toplist" />
        <activity android:name=".detailsong" />
        <activity android:name=".allsongs" />
        <activity android:name=".profileuser" />
        <activity android:name=".profiledetail" />
    </application>

</manifest>
